
@{
    ViewBag.Title = "Index";
}

<h2>Listado Marca</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtNombreMarca"
           onkeyup="Buscar()"
           placeholder="ingrese el nombre de la marca" />


</div>


<div id="divTabla">

</div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Marca.js"></script>
