
@{
    ViewBag.Title = "Index";
}

<h2>Lista Productos</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtNombreTipoHabitacion"
           onkeyup="Buscar()"
           placeholder="ingrese el nombre del producto" />

 
</div>


<div id="divTabla">

</div>


<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/producto.js"></script>